#searchbox {
  div.ais-SearchBox {
    padding: 10px;
  }
}

.hit-title {
  color: $color-text-light-secondary;
  font-size: 0.9rem;
}

.hit-description {
  color: $color-text-light-secondary;
  font-size: 0.9rem;
}

.ais-Highlight-highlighted {
  color: $color-text-dark-primary;
}